@import "tailwindcss";

@keyframes scrollX {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-wrapper {
  display: flex;
  width: max-content;
}

.scroll-content {
  display: flex;
  animation: scrollX 10s linear infinite;
}

.scroll-wrapper:hover .scroll-content {
  animation-play-state: paused;
}
/*buttonGallery*/
.Btn-Container {
  display: flex;
  width: 170px;
  height: fit-content;
  background-color: #1d2129;
  border-radius: 40px;
  box-shadow: 0px 5px 10px #bebebe;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
}

.icon-Container {
  width: 45px;
  height: 45px;
  background-color: #f59aff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #1d2129;
}

.text {
  width: calc(170px - 45px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}

.icon-Container svg {
  transition-duration: 1.5s;
}

.Btn-Container:hover .icon-Container svg {
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
@keyframes borderSpin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-borderSpin {
  background-size: 200% 200%;
  animation: borderSpin 3s linear infinite;
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
