@import "tailwindcss";

@keyframes scrollX {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-wrapper {
  display: flex;
  width: max-content;
}

.scroll-content {
  display: flex;
  animation: scrollX 20s linear infinite;
}

.scroll-wrapper:hover .scroll-content {
  animation-play-state: paused;
}


@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
@keyframes borderSpin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-borderSpin {
  background-size: 200% 200%;
  animation: borderSpin 3s linear infinite;
}
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
